{% extends "admin/base.html" %}



{% block app_content %}

{% import 'bootstrap/wtf.html' as wtf %}

{# {{ wtf.quick_form(form) }} #}

<form action="" method="POST" class="form-inline" name="{{table}}">
    {{ form.hidden_tag() }} 
    <div class="form-group">
        {% for row in data %}
            
                <div class="input-group mb-3">
                    <div class="input-group-addon">{{row['COLUMN_NAME']}}</div>
                    {% if row['COLUMN_NAME'] == 'id' %}
                        {# <input type="text" id="{{row[field]}}" name="{{row[field]}}" value="" disabled class="form-control">#}
                    {% else %}
                        <input type="text" id="{{row['COLUMN_NAME']}}" name="{{row['COLUMN_NAME']}}" value="" class="form-control">
                    {% endif %}
                </div>
            
        {% endfor %}
    </div>
    <input type="submit" value="Сохранить" class="btn btn-primary form-contorl">
</form>

{% endblock app_content %}