{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/utils.html' as utils %}


{% block title %}
    {% if title %}
            {{ title }} - Админка НямПес
    {% else %}
    Админка НямПес
    {% endif %}

{% endblock title %}

{% block head%}
        {{ super() }}
        <link rel="shortcut icon" href="/static/favicon.ico"/>
{% endblock head %}

   {% block navbar%}

        {% include '_navbar.html' %}

    {% endblock navbar%}

{% block content %}

<div class="container-fluid">    
    {{ utils.flashed_messages(dismissible=True) }}
    {% block app_content %}
    {% endblock %}
</div>

    
{% endblock content %}