{% extends "admin/base.html" %}



{% block app_content %}
{% if table %}
    <h1>Просмотр таблицы {{table}}</h1>
{% else %}
    <h1>Просмотр таблицы </h1>
{% endif %}

{% if result %}
    <hr>
    <table class="table table-striped table-bordered" id="data_table">
    <thead>
        <tr>
            {% for key in result[0] %}
            <th>{{  key }}</th>
            {% endfor %}
            
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td> 
                {% endfor %}
                <td>
                    <a class="btn btn-info" href="{{url_for('edit_table', table=table, id=row['id'])}}">Изменить</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{url_for('delete_row', table=table, id=row['id'])}}">Удалить</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

<a class="btn btn-primary" href="{{ url_for('add_row',table=table) }}"> Добавить запись </a>
{# <input class="btn btn-primary" type="button" value="Добавить запись"> #}

{% endblock app_content %}