{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <script type="text/javascript" src="/static/js/data_miner.js"></script>

    <h1>НямПес </h1>
    <div name="main">
        <form action="" method="POST">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}


            <div class="col-md-6"> 
                <div class="panel panel-default">
                    <div id="heading_form" class="panel-heading">
                        <h3>Какова ваша собака?</h3>
                    </div>
                    <div class="panel-body">
                    
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                        {{ form.dog_age.label.text }}
                                </label>
                            
                                <div class="col-md-6">
                                    {{ form.dog_age(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                        {{ form.dog_weight.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.dog_weight(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                        {{ form.dog_body_type.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.dog_body_type(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                        {{ form.dog_breed.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.dog_breed(class='form-control') }}
                                </div>
                            </div>
                    </div>
                </div>
                </div>
            
            
            
            <div class="col-md-6"> 
                    <div class="panel panel-default">
                        <div id="heading_form" class="panel-heading">
                            <h3>Выберите ингредиенты</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                        {{ form.meat.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.meat(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                    {{ form.sub_product.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.sub_product(class='form-control')}}
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                    {{ form.vegitables.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.vegitables(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                    {{ form.poridge.label.text }}
                                </label>
                                <div class="col-md-6">
                                    {{ form.poridge(class='form-control') }}
                                </div>
                            </div>
                            {# 
                            <div class="form-group row">
                                <label class="col-md-6 col-form-label">
                                    {{ form.dog_inlude_milk.label.text }}
                                </label>
                                <div class="col-md-3">
                                    {{ form.dog_inlude_milk(class='form-control') }}
                                </div>
                        </div>
                        #}
                            
                            
                    </div>
            </div>
            <!-- Разместить по центру. -->
            <div class="form-group">
                <div class="input-group-mb-3">
                    <div class="input-group-addon">{{form.dog_include_milk.label.text }}</div>
                    <div class="input-group-addon">{{form.dog_include_milk}}</div>
                    {{ wtf.form_field(form.submit, class="btn btn-primary form-contorl") }}
                </div>
            </div>
            {# {{ wtf.form_field(form.dog_inlude_milk, class="form-control") }} #}

            {# {{ wtf.form_field(form.submit, class="btn btn-primary form-contorl") }} #}
        </form>
    </div>

        

    
{% endblock %}