{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block app_content %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/table_to_json.js"></script>

<h1 class="text-center"> Ваш заказ </h1>
<div class="panel panel-default">
        <div id="heading_form" class="panel-heading">
            <h2>Основной рацион</h2>
        </div>
            {% if result %}
                <hr>
                <table class="table table-striped table-bordered" id="data_table">
                <thead>
                    <tr>
                        {% for key in result[0] %}
                        <th >{{  key }}</th>
                        {% endfor %}
                        
                    </tr>
                </thead>
                <tbody>
                        {% for row in result %}
                            {% if row['Продукт'] == 'Итого:' %}
                                <tr class="success">
                            {% else %}
                                <tr>
                            {% endif %}
                            {% for value in row.values() %}
                                {#
                                {% if value == 'Итого:' %}
                                    <td class="success" >{{ value }}</td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                                #}
                                <td>{{ value }}</td>

                            {% endfor %}
                    
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}

</div>
{% if milks %}
<div class="panel panel-default">
        <div id="heading_form" class="panel-heading">
            <h2>Кисломолочный рацион</h2>
        </div>

    <hr>
    <table class="table table-striped table-bordered" id="data_table">
    <thead>
        <tr>
            {% for key in milks[0] %}
            <th>{{  key }}</th>
            {% endfor %}
            
        </tr>
    </thead>
    <tbody>
            {% for row in milks %}
                {% if row['Ингредиенты'] == 'Итого:'%}
                    <tr class="success">
                {% else %}
                <tr>
                {% endif %}
                {% for value in row.values() %}
                    <td>{{ value }}</td> 
                {% endfor %}
           
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}
</div>
<div class="row">
    <div class="col-md-7 col-md-offset-3">
        <div class="alert alert-info" >
                <p >Вашу собаку в возрасте {{ feed['age'] }}  следует кормить {{ feed['feed'] }} раз(а)</p>
        </div>
        
    </div>
</div>


<input class="btn btn-info" type="button" onclick="history.back();" value="Назад"/>

<button id="show_order" class="btn btn-success" value="Заказать" onclick="show_contact_form();">Заказать</button>
<div class="row">


    <div id="contact_div" class="col-md-6 col-md-offset-3"  hidden >
        <form action='#' class="form" role="form">
            {{ contact_form.hidden_tag() }}
            {{ wtf.form_errors(contact_form, hiddens="only") }}

            <div class="form-group  required">
                {{ contact_form.name.label() }}
                {{ contact_form.name(class='form-control', placeholder=contact_form.name.description )}}
            </div>
            <div class="form-group  required">
                {{ contact_form.email.label() }}
                {{ contact_form.email(class='form-control', placeholder=contact_form.email.description )}}
            </div>
            <div class="form-group">
                {{ contact_form.phone.label() }}
                {{ contact_form.phone(class='form-control', placeholder=contact_form.phone.description )}}
            </div>
            {# {{ contact_form.submit(class="btn btn-primary form-contorl") }} #}
            <button id="send_order" class="btn btn-success" value="Заказать" onclick="send_order();">Заказать</button>

        </form>
    </div>
</div>

{% endblock app_content %}